<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.danbplus.example.repository.mapper.BoardMapper">
	<!-- 게시글조회 -->
	<select id="getBoardList" resultType="com.danbplus.example.domain.BOARD" parameterType="hashMap">
		SELECT  
			boardNum,
			userNo,
			title, 
			content, 
			registDate, 
			updateDate,
			userName
		FROM 
			BOARD  
		order by boardNum desc;
	</select>	
	
	<select id="getDetailInfo" resultType="com.danbplus.example.domain.BOARD" parameterType="hashMap">
		SELECT  
			boardNum,
			userNo,
			title, 
			content, 
			registDate, 
			updateDate,
			userName
		FROM 
			BOARD  
		WHERE
			boardNum = #{num}
	</select>
	
	<insert id="write" useGeneratedKeys="true"  parameterType="hashMap">
		INSERT INTO BOARD
		(
			userNo
			, title
			, content
			, registDate
			, updateDate
			, userName
		)
		VALUES (
			#{userNo}
			, #{title}
			, #{content}
			, #{registDate}
			, #{updateDate}
			, #{userName}
			
		)
	</insert>
	
	<update id="modify" useGeneratedKeys="true" keyProperty="boardNum" parameterType="hashMap">
		UPDATE BOARD
		SET
			title = #{title}
			, content = #{content}
			, updateDate = #{updateDate}
			, userName = #{userName}
		WHERE
			boardNum = #{boardNum}
	</update>
</mapper>