<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.danbplus.example.repository.mapper.MemberMapper">
	<!-- mybatis 연동 테스트 -->
	<select id="getName" resultType="String" parameterType="String">
		SELECT
			userNo,
			name,
			id,
			phone
		FROM
			member
		WHERE
			userNo = #{userNo}
	</select>
</mapper>