<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	 
	<!-- 카멜케이스 적용 -->
	<!-- 
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	 -->
	<mappers>
		<mapper resource="/mapper/mybatis/memberMapper.xml"/>
	</mappers>
	<!--  
	<typeAliases>
		<typeAlias type="com.danbplus.domain.Member" alias="Member"/>
	</typeAliases>
	 -->
</configuration>
